<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="box">
                    <h2 style="margin-top: 10px;">Today's Attendance</h2>
                    <hr>
                    <app-today-attendance *ngFor="let atl of TodayAttendance" [attendance]="atl"></app-today-attendance>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="box">
                        <h2>Pending Leave Approvals</h2>
                        <hr>
                        <app-admin-leave *ngFor="let leave of AdminLeaves" [leave]="leave"></app-admin-leave>
                </div>
            </div>
        </div>
    </div>
</body>