<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Employee Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile-box">
                    <img class="user-image" *ngIf="!GenderFemale" [src]="userImage" alt="user-image">
                    <img class="user-image" *ngIf="GenderFemale" [src]="userImage" alt="user-image">
                    <input type="file" style="display:none" (change)="onFileSelected($event)" #ImageInput>
                    <button type="button" class="btn btn-success" (click)="ImageInput.click()">Pick Image</button>
                    <button type="button" class="btn btn-success" (click)="onUpload()"
                        [disabled]="!disableUpload">Upload</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card">
                    <div class="table-responsive">
                        <div id="update-table">
                            <table>
                                <tr>
                                    <td>FULL NAME </td>
                                    <td>:</td>
                                    <td>{{empService.empd.name}}</td>
                                </tr>
                                <tr>
                                    <td> EMAIL </td>
                                    <td>:</td>
                                    <td>{{empService.empd.Email}}</td>
                                </tr>
                                <tr>
                                    <td> MOBILE NUMBER </td>
                                    <td>:</td>
                                    <td>{{empService.empd.MobileNo}}</td>
                                </tr>
                                <tr>
                                    <td> GENDER </td>
                                    <td>:</td>
                                    <td>{{empService.empd.Gender}}</td>
                                </tr>
                                <tr>
                                    <td> DEPARTMENT </td>
                                    <td>:</td>
                                    <td>{{empService.empd.Department}}</td>
                                </tr>
                                <tr>
                                    <td> EMPLOYEE ID </td>
                                    <td>:</td>
                                    <td>{{empService.empd.userid}}</td>
                                </tr>
                                <tr>
                                        <td> Designation </td>
                                        <td>:</td>
                                        <td>{{empService.empd.Designation}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><button (click)="onUpdate()" id="update-button">Update</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                        <h2>Weekly Attendance</h2>
                        <hr>
                        <div class="attendance-table">
                            <ng-container>
                                <tr>
                                    <th>Date</th>
                                    <th>Punch In </th>
                                    <th>Punch Out</th>
                                    <th>Attendance</th>
                                    <th>Total Time</th>
                                </tr>
                                <tr id="attendance-record-tuple" [class.oddBackground]="odd"
                                    *ngFor="let atl of AttendanceLog;let odd = odd">
                                    <td class="AttendanceTuple">{{atl.date}}</td>
                                    <td class="AttendanceTuple">{{atl.punchIn}}</td>
                                    <td class="AttendanceTuple">{{atl.punchOut}}</td>
                                    <td class="AttendanceTuple">{{atl.attendance}}</td>
                                    <td class="AttendanceTuple">{{atl.totalTime}}</td>
                                </tr>
                            </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>