body{
    background-color: #f2f2f2;
}
.container{
    padding:0;
}
p{
    text-align: center;
}
agm-map{
    height:576px;
}
/* span.b {
    padding-top:20px;
    display: inline-block;
    width: auto;
    height: 73px;
    margin-left: 100px;
    margin-right: 100px;
  } */
button{
    position: relative;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 200px;
    border: 0;
    padding: 12px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
span.a{
    background-color:brown;
    position: absolute; 
    bottom:38px;
    left:175px;
    width:70px;
    height:25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:3px;
    border-radius:8px;
}
.button-area{
    padding: 50px;
    padding-left: 150px;
    align-content: center;
}

body {
    background-color: #f2f2f2;
  }
  @media(max-width:768px){
      .button-area{
          padding: 50px;
          padding-top: 15px;
          padding-bottom: 15px;

      }
  }
