<head>
        <base href="attendance">
</head>

<body>
        <div id="wrapper" [class.toggled]="!toggle" >

                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                                <li>
                                        <img class="user-image" *ngIf="!GenderFemale" [src]="ImageUrl" alt="user-image">
                                        <img class="user-image" *ngIf="GenderFemale" [src]="ImageUrl" alt="user-image">
                                </li>
                                <li>
                                        <div class="user-details">
                                                <p
                                                        style="font-size: 30px; padding-top:15px; margin-bottom:0; margin-left:-18px;">
                                                        {{employee.name}}</p>
                                                <p style="font-size: 15px; color:#efece1;margin-left:-20px;">
                                                        {{employee.Email}}</p>
                                        </div>
                                </li>
                                <li>
                                        <a routerLink="attendance" (click)="toggleButton()"><img class="sidebar-icons"
                                                        src='../assets/icons/attendance.png' alt="icon">Attendance</a>
                                </li>
                                <li>
                                        <a routerLink="leave" (click)="toggleButton()"><img class="sidebar-icons" src='../assets/icons/leave.png'
                                                        alt="icon">Leave</a>
                                </li>
                                <li *ngIf="isAdmin">
                                        <a routerLink="Manage" (click)="toggleButton()"><img class="sidebar-icons"
                                                        src='../assets/icons/Manage.png' alt="icon" >Manage</a>
                                </li>
                                <li>
                                        <a routerLink="MyProfile" (click)="toggleButton()"><img class="sidebar-icons"
                                                        src='../assets/icons/man-user.png' alt="icon">My Profile</a>
                                </li>
                                <li>
                                        <a (click)="onLogout()"><img class="sidebar-icons"
                                                        src='../assets/icons/logout.png' alt="icon">LogOut</a>
                                </li>
                        </ul>
                </div>
                <div id="page-content-wrapper">
                        <div class="container-fluid">
                                <div class="row">
                                        <div class="col-lg-12" style="background-color: black;">
                                                <button class="button-hide" (click)="toggleButton()"
                                                        style="background: none;">
                                                        <img src="../assets/icons/menu.png" alt=""
                                                                style="width:40px;height:50px;">
                                                </button>
                                        </div>
                                </div>
                                <router-outlet></router-outlet>
                        </div>
                </div>
        </div>

</body>