<div class="card">
    <div class="card-header">
        <div class="table-responsive">
            <table>
                <tr>
                    <th>
                        <button style="background:none; border:none;" (click)="toggleCard()"><img
                                src="../assets/icons/expand-button.png" alt=""
                                style="width: 20px; height:20px;"></button>
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Subject
                    </th>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        {{ employee.name}}
                    </td>
                    <td>
                        {{ leave.LeaveType }}
                    </td>
                    <td>
                        {{ leave.DateInString }}
                    </td>
                    <td>
                        {{leave.LeaveSubject}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card-body" *ngIf="toggleStatus">
        <table>
                <tr>
                        <td *ngIf="ApprovalStatus">
                            <button class="btn btn-success" (click)="ApproveLeave()">Approve</button>
                        </td>
                        <td *ngIf="ApprovalStatus">
                            <button class="btn btn-danger" (click)="DenyLeave()">Deny</button>
                        </td>
                        <td *ngIf="!ApprovalStatus">
                            <span>
                                <p>{{Approvaltext}}</p>
                            </span>
                        </td>
                    </tr>
                    <hr>
                    <tr>
                <th>
                    Leave Reason
                </th>
                <th>
                    Employee Id
                </th>
            </tr>
            <tr>
                <td>
                    {{ leave.LeaveReason }}
                </td>
                <td>
                    {{ employee.userid }}
                </td>
            </tr>
        </table>
    </div>
</div>