.container{
    margin-left: 0;
    padding-left:0;
}
button{
    border-style: none;
    margin-top: 20px;
    margin-right: 20px;
    background-color:#00B739;
    color:white;
    padding-left: 10px;
}
button:hover{
    box-shadow:0 0 2px 2px rgb(2, 206, 66);
    background-color:#00B739;
    color:white;
}

button:active{
    box-shadow:0 0 2px 2px rgb(2, 206, 66);
    background-color:#00B739;
    color:white;
}
#img{
    width: 500px;
    height:500px;
    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top:50px;
}
#product-name{
    font-family: 'Calligraffitti', cursive;
    display:block;
    color:rgb(187, 120, 50); 
    font-size: 35px;
    margin-left: 250px;
    margin-right: auto;
    margin-top:30px;
}
.brand-name{
    margin-left: 140px;
    margin-top: 50px;
    font-size:14px;
    color: rgb(187, 120, 50);
}
@media screen and (max-width:767px){
    #img{
        width: 350px;
        height:350px;
        display:block;
        margin-left: auto;
        margin-right:auto;
        margin-top:25px;
    }
    #product-name{
        font-family: 'Calligraffitti', cursive;
        display:block;
        color:white; 
        font-size: 30px;
        margin-left: 75px;
        margin-right: auto;
        margin-top:30px;
    }
    .brand-name{
        margin-left: 40px;
        margin-top: 66px;
        font-size:16px;
        color:white;
    }
}