<html>
  <body style="background-image: url('/assets/background.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" style="margin-left: 20px;">
          <button class="btn btn-success" (click)="onLogin()"> Sign in </button>
        </div>
        <div class="col-sm-8">
          <img id="img" src="../assets/ASperTime.png">
          <p id="product-name">ASperTime <sup>BETA</sup></p>
          <p class="brand-name"> © 2019-2020 , ASperTime Technologies, Developed By ASperTime Technologies ;</p>
        </div>
      </div>
    </div>
  </body>
</html>


